html {
    box-sizing: border-box;
    font-size:62.5%;
}

html,
body {
    height: 100%;
}

body {
    font: 1.2em/1.6em Verdana, sans-serif;
    background-color: #fff;
    color: var(--mainColor);
}

/* apply a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
    box-sizing: inherit;
}


hr {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

a {
    text-decoration: none;
    color: var(--mainColor);
}

p {
    line-height: 2rem;
    margin-bottom: 20px;
}

sup,
sub {
    position: relative;
    height: 0;
    vertical-align: baseline;
    font-size: 0.6rem;
    line-height: 1rem;
}

sup { bottom: 1ex; }

sub { top: .5ex; }

strong { font-weight :bold; }

em { font-style: italic; }

address { line-height: 2rem; }

video {
    display: block;
    width: 100%;
}

time { display: inline-block; }

::-moz-selection {
    text-shadow: none;
    background: #338fff;
}

::selection {
    text-shadow: none;
    background: #338fff;
}

/* Chrome outline */
*:focus { outline: none; }

/* some var() & calc() */
body {
    color: var(--mainColor);
    font-size: var(--fontSize);
    line-height: calc(var(--fontSize) * 1.5);
    padding: calc((var(--fontSize) / 2) + 1px);
}

/* Titles
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.tl1 {
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 20px;
}

.tl2 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 20px;
}

.tl3 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 10px;
}

/* Custom Selector usage */
:--heading { margin-top: 0 }

/* Links
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.lk {
}

/* Buttons
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.btn1 {
}

/* Lists
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.list1 {
    margin-bottom: 20px;
    & > li {
        &:first-child { margin-top: 0; }
    }
}

/* Others
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.hr1 {
    height: 1px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

/* Usefull
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.mb10 { margin-bottom:10px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.pb20 { padding-bottom:20px !important; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.last { margin-bottom: 0 !important; }
.first { margin-top: 0 !important; padding-top: 0 !important; }
.hidden { display: none; }

.visuallyhidden {
    position: absolute;
    left: -9999px;
    overflow: hidden;
    margin: -1px !important;
    padding: 0 !important;
    height: 1px !important;
    width: 1px !important;
    border: 0 none;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '\0020';
}

.clearfix { display: inline-block; }
/* \*/ * html .clearfix { height: 1%; }
.clearfix { display: block; }

.bijoo { visibility: visible !important; }
