{
    "rules": {
        "indentation": 4,
        "block-closing-brace-newline-after": "always",
        "block-opening-brace-newline-after": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "declaration-block-semicolon-newline-after": "always",
        "declaration-block-trailing-semicolon": "always",
        "declaration-colon-newline-after": "always-multi-line",
        "selector-list-comma-newline-after": "always",
        "selector-no-attribute": true,
        "declaration-block-properties-order":[
            {
                emptyLineBefore: "always",
                properties: [
                    "height",
                    "width",
                ],
            },
            {
                emptyLineBefore: "always",
                properties: [
                    "font-size",
                    "font-weight",
                ]
            }
        ]
    }
}
