{
    "rules": {
        "indentation": 4,
        "block-closing-brace-newline-after": "always",
        "block-opening-brace-newline-after": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "declaration-block-semicolon-newline-after": "always",
        "rule-trailing-semicolon": "always",
        "declaration-colon-newline-after": "always-multi-line",
        "selector-list-comma-newline-after": "always",
        "selector-no-attribute": true,
        "rule-properties-order": [
            {
                emptyLineBefore: true,
                properties: [
                    "position",
                    "z-index",
                    "top",
                    "right",
                    "bottom",
                    "left"
                ]
            },
            {
                emptyLineBefore: true,
                properties: [
                    "display",
                    "overflow",
                    "box-sizing",
                    "height",
                    "width",
                    "margin",
                    "border",
                    "padding"
                ],
                {
                    emptyLineBefore: true,
                    unspecified: "bottom"
                }
            }
        ]
    }
}
